.topnav-container {
  display: flex;
  padding: 5px 30px;
  align-items: center;
}

.topnav-containerDark {
  display: flex;
  padding: 5px 30px;
  align-items: center;
  background-color: #353535;
  color: '#fff'
}

.topnav-container > div {
  flex: 1;
  margin: 0 3%;
}

.topnav-containerDark > div {
  flex: 1;
  margin: 0 3%;
}

.topnav-input-container {
  border: none;
  width: 100%;
  outline: none;
}

.topnav-input-containerDark {
  border: none;
  width: 100%;
  outline: none;
  background-color: #353535;
}

.topNav-span {
  display: flex;
  width: 100px;
  justify-content: flex-end;
}

.topNav-input-box {
  width: 100%;
  border: 1.5px solid #dda0dd;
  padding: 5px 20px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topNav-menu {
  display: none;
}

@media (max-width: 600px) {
  .topNav-span {
    display: none;
  }

  .topNav-input-box {
    width: 82%;
  }

  .topNav-menu {
    display: block;
  }
}
