.landing-bg {
  background-image: url("./assets/eye-for-ebony-7EpZ2IMxK7g-unsplash.jpg");
  background-position: center;
  background-size: cover;
  padding: 7% 8%;
}

.navbar-sec {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(182, 183, 201, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.signIn-side {
  background-image: url(./assets/a08b93d40b7429a844bade108517fe85-700.jpg);
  background-size: cover;
  background-position: 20% 20%;
  height: 100vh;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(230, 230, 235, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
